.atrasados{

     display: flex;
     margin: auto;
     width: 50%;
     flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

img{
     width: 300px;
}

.hora_atraso{
     color: red;
     background-color: black;
}

body{

     text-decoration: none;
}